/* ***************GENERAL*************** */
:root{
    --my-primary: #1b72e8;
    --my-dark: #051e34;
    --my-gray: #e5e5e5;
    --my-light:#f8f9fa;
    --my-btn-color: #165bba;
}
body{
    /* font-family: 'Courier New', Courier, monospace;*/
    font-size: 0.8em;
}
img{
    width: 100%;
}
.debug{
    border: 1px solid red;
}
/* ****************UTILITIES*************** */
.bg-primary{
    background-color: var(--my-primary);
}
.bg-gray{
    background-color: var(--my-gray);
}
.my-btn{
    background-color: var(--my-btn-color);
    color: white;
    text-align: center;
    border-radius: 20px;
    padding: 3px 7px;
    border: none;
    line-height: 100%;
}
.border-none{
    border: none !important;
}
/* *************STUCTURE************* */
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #F8F9FA;
}
header{
    width: 100%;
    height: 70px;
}
main{
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}
#sidebar{
    height: 100%;
    background-color: var(--my-dark);
    background-image: url(../img/sidebar-bg.png);
}
#main-content{
    overflow-y:auto ;
    flex-grow: 1;
}
/* sidebar */
#sidebar i{
    display: inline-block;
    width: 15px;
}
/*header*/
header figure{
    margin: 0;
}
#header-dropdown{
   border: none;
   color:#ff8f00;
   padding: 0;
}
/* main nav */
@media screen AND (max-width:768px){
    #main-nav #offcanvasScrolling{
        width: 100%;
    }
}
#main-nav .my-btn.circle{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0 0 1px 0;
}
#btn-offcanvas{
    background-color: transparent;
    color: white;
    text-align: center;
    display: inline-block;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    margin-left: 10px;
    line-height: 100%;
    padding: 0 0 3px 0;
}